:root {
  --primary-color: #013234;
  --primary-color-rgb: 1, 50, 52;
  --secondary-color: rgb(2, 132, 91);
  --secondary-color-rgb: 103, 143, 213;
  --tertiary-color: #b0e1c4;
  --tertiary-color-rgb: 244, 247, 251;
}